
html, body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/*-----------------------------------------
Nav
-----------------------------------------*/
.navbar-inverse {
  background-color: rgba(18,4,23,1) !important;
}

/*-----------------------------------------
Home
-----------------------------------------*/
.home {
  width: 100vw;
  height: 100vh;
  background: url(../img/desert.jpg) no-repeat center center;
  background-size: cover;
  cursor: default;
}

#goldGhostTitle {
  padding-top: 15%;
  font-size: 6em;
  color: white;
}

.top-nav {
  ul {
    margin-top: 0px;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}